@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content 1fr min-content;
    overflow: hidden;
}

#header {
    grid-column: 1 / 3;
    padding: 16px 32px;
    font-weight: 600;
    -webkit-box-shadow: 0px 9px 6px 0px rgba(202,202,202,0.4);
    -moz-box-shadow: 0px 9px 6px 0px rgba(202,202,202,0.4);
    box-shadow: 0px 9px 6px 0px rgba(202,202,202,0.4);
    display: flex;
    justify-content: space-between;
}

.subhead:first-child {
    font-size: 32px;
    font-weight: 700;
    color: rgb(30, 30, 30);
}

.subhead:last-child {
    font-size: 14px;
    font-weight: 700;
}

#trial {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    height: 36px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 18px;
    border: none;
    color: white;
    background-color: #1d4ed8;
}

.cursor:hover {
    cursor: pointer;
}

.subhead {
    display: flex;
    align-items: center;
    gap: 16px;
}

#sidebar {
    padding: 16px 16px 16px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.background {
    background-color: #1d4ed8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(to left, white 50%, #1d4ed8 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.background:hover {
    background-position: left;
    color: white;
}

.show {
    visibility: hidden;
}

.active .show {
    visibility: visible;
}

.active {
    background: #1d4ed8;
    color: white;
}

#alltasks, #projectheader, #projects > * {
    padding: 8px 8px 8px 16px;
}

#alltasks, #projectheader {
    font-size: 20px;
    font-weight: 600;
}

#projects > * {
    font-weight: 500;
}

#projectheader {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

#newproject, #newtask {
    transition: transform .5s ease-in-out;
}

#newproject:hover, #newtask:hover {
    transform: rotate(90deg);
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#display {
    padding: 16px 76px 46px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    overflow: auto;
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
}

#newtask {
    position: fixed;
    right: 8px;
    bottom: 45px;
    z-index: 2;
}

.card {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 2px 2px 2px 8px;
    gap: 8px;
    border: none;
    outline: none;
    border-radius: 10px;
    border: none;
    align-items: center;
}

.card > div:last-child {
    display: grid;
    grid-template-columns: 1fr max-content min-content auto auto;
    gap: 8px;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    align-items: centers;
}

.card > div > div:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1lh;
}

#footer {
    grid-column: 1 / 3;
    padding: 8px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 9px 6px 0px rgba(202,202,202,0.4);
    -moz-box-shadow: 0px 9px 6px 0px rgba(202,202,202,0.4);
    box-shadow: 0px -9px 6px 0px rgba(202,202,202,0.4);
}

.pointer:hover {
    cursor: pointer;
}

.filter {
    filter: brightness(0) saturate(100%) invert(16%) sepia(94%) saturate(2991%) hue-rotate(224deg) brightness(103%) contrast(91%);
}

.red {
    filter: invert(40%) sepia(57%) saturate(1869%) hue-rotate(345deg) brightness(84%) contrast(102%);
}

.low {
    background-color: #acd81d;
}

.medium {
    background-color: #d8a71d;
}

.high {
    background-color: #d8491d;
}

dialog {
    border: none;
    border-radius: 18px;
    padding: 16px;
    justify-items: space-between;
    gap: 16px;
    background-color: #1d4ed8;
    box-shadow: 0px 5px 10px 0px rgba(30, 27, 75, 0.5);
    color: white;
    width: 300px;
}

dialog > p {
    height: min-content;
    margin: 0;
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

form > div:last-child {
    flex-direction: row;
    justify-content: space-around;
}

form input, dialog button {
    border: none;
    border-radius: 15px;
    height: 30px;
    padding: 0 8px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

form input[type="submit"], dialog button {
    appearance: none;
    border: none;
    border-radius: 15px;
    height: 30px;
    width: min-content;
}

form input[type="submit"]:hover, dialog button:hover {
    cursor: pointer;
}

form select {
    border: none;
    border-radius: 15px;
    height: 30px;
    padding: 0 8px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

#expandtask {
    font-size: 18px;
}

#expandtitle {
    font-size: 32px;
}

#expandtask > div {
    margin-bottom: 10px;
}

dialog > div:last-child {
    display: flex;
    justify-content: center;
}

.validate {
    color: #1d4ed8;
    font-weight: 600;
}

.cancel {
    color: #d8491d;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
.checkbox-wrapper-13 input[type=checkbox] {
    --active: #1d4ed8;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #1d4ed8;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}
.checkbox-wrapper-13 input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
}
.checkbox-wrapper-13 input[type=checkbox]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
}
.checkbox-wrapper-13 input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
}
.checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
}
.checkbox-wrapper-13 input[type=checkbox]:disabled + label {
    cursor: not-allowed;
}
.checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
}
.checkbox-wrapper-13 input[type=checkbox]:focus {
    box-shadow: 0 0 0 var(--focus);
}
.checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
    width: 21px;
}
.checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    opacity: var(--o, 0);
}
.checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
    --o: 1;
}
.checkbox-wrapper-13 input[type=checkbox] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
}

.checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
    border-radius: 7px;
}
.checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
}
.checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
}
}

.checkbox-wrapper-13 * {
box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
box-sizing: inherit;
}